<style>
    .preview-card {
        position: relative;
    }

    .preview-card .preview-card-container {
        overflow: hidden;
        position: relative;
        width: 100%;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        border-radius: 7px;
        padding-bottom: 75px;
    }

    .preview-card card-info-strip {
        position: absolute;
        height: 50px;
        bottom: 11px;
        width: 100%;
    }

    .preview-card.type1 .preview-card-container {
        height: 118px;
    }

    .preview-card.type2 .preview-card-container,
    .preview-card.type3 .preview-card-container {
        height: 192px;
    }

</style>
<webc-container controller="PreviewCardController2" data-view-model="@">
    <div data-tag='preview-card' class="preview-card">
        <div class="preview-card-container" data-view-model="@background"></div>
        <card-info-strip data-view-model="@cardInfoStrip"></card-info-strip>
    </div>
</webc-container>