<style>
    .button-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .tap-button {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 35px;
        color: #4CBC79;
        white-space: nowrap;

        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 11px;
        height: 33px;
        min-width: 35%;
        margin-bottom: 9px;
        
    }
</style>

<webc-container controller="ChatYesNoMenuController" data-view-model="@">
    <div class="button-container">
        <button id="yes" class="tap-button" data-view-model="@button">Yes</button>
        <button id="no" class="tap-button" data-view-model="@button">No</button>
    </div>
</webc-container>