<style>
    .button-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .tap-button {
        height: 100%;
        padding: 0 15px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 175%;
        letter-spacing: 0.015em;
        color: #FFFFFF;
        border-radius: 7px;
        white-space: nowrap;
    }
</style>

<webc-container controller="ChatYesNoMenuController" data-view-model="@">
    <div class="button-container">
        <button id="yes" class="tap-button" data-view-model="@button">Yes</button>
        <button id="no" class="tap-button" data-view-model="@button">No</button>
    </div>
</webc-container>