<style>
    * {
        -ms-overflow-style: none;
        /* Internet Explorer 10+ */
        scrollbar-width: none;
        /* Firefox */
    }

    *::-webkit-scrollbar {
        display: none;
        /* Safari and Chrome */
    }

    .slider-container {
        width: 100%;
        overflow-x: auto;
        user-select: none;
    }

    .slider-container .slider {
        display: flex;
        height: 100%;
    }

    .slider-container .slider-item {
        scroll-snap-align: center;
        margin-right: 16px;
        height: 100%;
        flex-shrink: 0;
    }

    .slider-container .slider-item:first-child {
        margin-left: 10px;
    }

    .chat-footer .footer-options {
        height: 85px;
        margin-bottom: 20px;
    }

    .chat-footer .footer-option {
        background: white;
        border-radius: 11px;
        height: 100%;
        padding: 8px 13px;
        position: relative;
        width: 107px;
    }

    .chat-footer .footer-option .title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 0.8125rem;
        line-height: 20px;
        color: #000000;
        margin-bottom: 15px;
        word-spacing: 100vw;
    }

    .chat-footer .image-bottom {
        position: absolute;
        left: 13px;
        bottom: 8px;
        width: calc(100% - 2 * 13px);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .chat-footer .image-bottom .arrow {
        width: 10px;
    }

    .chat-footer .image-bottom .option-logo {
        aspect-ratio: 1/1;
        width: 20px;
    }

    .chat-footer .footer {
        position: relative;
        height: 40px;
        padding: 5px 10px;
        display: flex;
        align-items: center;
    }

    .chat-footer .footer .chat-menu {
        aspect-ratio: 1/1;
        min-height: 39px;
        margin-right: 7px;
    }

    .chat-footer .footer .chat-bar {
        border-radius: 20px;
        background: #EBEBEB;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 7px;
        height: 100%;
        overflow: hidden;
        width: 100%;
    }

    .chat-footer .emoji-button {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 50px;
    }

    .chat-footer .footer .chat-bar input {
        /* justify-self: stretch; */
        overflow: hidden;
        border: none;
        width: 70%;
        background: #EBEBEB;
        height: 30px;
        line-height: 30px;
    }

    .chat-footer input:focus {
        outline: none;
    }

    .chat-footer .footer .chat-bar img {
        aspect-ratio: 1/1;
        width: 20px;
        margin: 0 15px;
    }

    .chat-footer .footer .send-message {
        aspect-ratio: 1/1;
        width: 22px;
    }

    .chat-footer .emoji-menu {
        position: absolute;
        bottom: 51px;
        right: 38px;
        width: calc(100% - 93px);
        height: 263px;
        background: white;
        border-width: 0.25px 0.25px 0.25px 0.25px;
        border-style: solid;
        border-color: #D5D3D3;
        border-radius: 10px;
        box-shadow: 0px -2px 3px rgba(213, 211, 211, 0.1);
    }

    .chat-footer .emoji-container {
        overflow-y: auto;
        background: white;
        height: calc(300px - 70px);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 5px;
        padding: 5px 5px;
        border-radius: 10px 10px 0px 0px;

    }

    .chat-footer .emoji-category {
        height: 30px;
        background: white;
        display: flex;
        overflow: hidden;
        flex-wrap: nowrap;
        padding: 0 15px;
        gap: 5px;
        justify-content: space-between;
        align-items: center;
        border-top: 0.25px solid #D5D3D3;
        box-shadow: 0px -2px 3px rgba(213, 211, 211, 0.1);
        border-radius: 0px 0px 10px 10px;
    }

    .chat-footer .emoji-category img {
        overflow: hidden;
        aspect-ratio: 1/1;
        height: 20px;
    }

    .chat-footer .emoji-container .emoji {
        min-width: 40px;
        min-height: 40px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
    }

    .chat-footer .hidden {
        display: none !important;
    }
</style>


<webc-container controller="ChatFooterController" data-view-model="@">
    <div class="chat-footer">
        <!-- <div class="slider-container" data-tag="scroll-container">
            <div class="footer-options slider" data-tag="slider" id="footer-options" data-for="@items">
                <div class="footer-option slider-item" data-view-model="@dataTag">
                    <p class="title">{{@title}}</p>
                    <div class="image-bottom">
                        <img src="./AIRobotWidgets/components/assets/purple-arrow.svg" class="arrow" alt="arrow">
                        <img data-view-model="@photo" class="option-logo">
                    </div>
                </div>
            </div>
        </div> -->
        <div class="footer">
            <img src="./AIRobotWidgets/components/assets/chat-menu.svg" alt="menu" class="chat-menu"
                 data-tag="open-menu">
            <div class="chat-bar">
                <img src="./AIRobotWidgets/components/assets/chat-clip.svg" alt="clip" class="chat-clip"
                     data-tag="add-file">
                <input type="text" class="chat-message" data-tag="input" placeholder="Type what you want">
                <div class="emoji-button">
                    <img src="./AIRobotWidgets/components/assets/chat-emoji.svg" alt="emoticons" class="chat-emoji"
                         data-tag="open-emoticons">
                </div>
            </div>
            <div class="emoji-menu hidden" data-tag="emoji-menu">
                <div class="emoji-container" id="emoji-container" data-for="@emojis">
                    <p class="emoji" data-view-model="@model"></p>
                </div>
                <div class="emoji-category" id="emoji-category">
                    <img src="./AIRobotWidgets/components/assets/emoji-people.svg" alt="People"
                         data-tag="category-people">
                    <img src="./AIRobotWidgets/components/assets/emoji-nature.svg" alt="Nature"
                         data-tag="category-nature">
                    <img src="./AIRobotWidgets/components/assets/emoji-food.svg" alt="Food" data-tag="category-food">
                    <img src="./AIRobotWidgets/components/assets/emoji-activity.svg" alt="Activity"
                         data-tag="category-activity">
                    <img src="./AIRobotWidgets/components/assets/emoji-travel.svg" alt="Travel"
                         data-tag="category-travel">
                    <img src="./AIRobotWidgets/components/assets/emoji-objects.svg" alt="Objects"
                         data-tag="category-objects">
                    <img src="./AIRobotWidgets/components/assets/emoji-symbols.svg" alt="Symbols"
                         data-tag="category-symbols">
                </div>
            </div>
            <img src="./AIRobotWidgets/components/assets/send-message.svg" alt="send-message" class="send-message"
                 data-tag="send-message">
        </div>
    </div>

</webc-container>