<style>
    .chat-options .options-container .option {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 35px;
        color: #4CBC79;
        width: calc(100% - 25px);
        position: relative;
        z-index: 100;

        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 11px;
        width: 80%;
        height: 33px;
        margin-bottom: 9px;
    }
    .options-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

</style>



<webc-container controller="ChatOptionMenuController" data-view-model="@">
    <div class="chat-options">
        <div class="options-container" data-for="@options">
            <p class="option" align="center">{{@name}}</p>
        </div>
    </div>
</webc-container>