<style>
    .chat-options .message {
        position: relative;
        border-radius: 11px;
        min-height: 35px;
        margin: 0 25px 10px;
        padding: 0 10px;
        z-index: 1;
    }

    .chat-options .their-message {
        background: white;
    }

    .chat-options .their-message:after {
        transform: rotate(320deg);
        width: 26px;
        background-color: white;
        position: absolute;
        bottom: -1px;
        height: 11px;
        content: '';
        left: -10px;
        border-bottom-left-radius: 37px;
        z-index: 0;
    }

    .chat-options .message .option {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        text-decoration: underline;
        font-size: 0.875rem;
        line-height: 35px;
        color: blue;
        width: calc(100% - 25px);
        position: relative;
        z-index: 2;
    }
</style>



<webc-container controller="ChatOptionMenuController" data-view-model="@">
    <div class="chat-options">
        <div class="message their-message" data-for="@options">
            <p class="option">{{@name}}</p>
        </div>
    </div>
</webc-container>