<link rel="stylesheet" href="components/robot-card/robot-card.css">
<webc-container controller="components/RobotCardController" data-view-model="@card">
    <div class="robot-card">
        <div class="container" data-view-model="@background">
            <div class="messages-container" data-tag="message-container"></div>

            <div class="img-container" data-view-model="@robotBackground">
                <img class="robot-face" data-view-model="@robotFace">
            </div>

        </div>

</webc-container>